[submodule "subs/submodules/shell_scripts"]
	path = subs/submodules/shell_scripts
	url = git@github.com:edftechnology/shell_scripts.git
[submodule "subs/submodules/agents"]
	path = subs/submodules/agents
	url = git@github.com:edftechnology/agents.git
[submodule "subs/submodules/git_scripts"]
	path = subs/submodules/git_scripts
	url = git@github.com:edftechnology/git_scripts.git
[submodule "subs/submodules/python_scripts"]
	path = subs/submodules/python_scripts
	url = git@github.com:edftechnology/python_scripts.git
[submodule "subs/submodules/markdown_scripts"]
	path = subs/submodules/markdown_scripts
	url = git@github.com:edftechnology/markdown_scripts.git
[submodule "subs/submodules/txt_scripts"]
	path = subs/submodules/txt_scripts
	url = git@github.com:edftechnology/txt_scripts.git
[submodule ".github/workflows"]
	path = .github/workflows
	url = git@github.com:edftechnology/workflows.git
[submodule ".vscode"]
	path = .vscode
	url = git@github.com:edftechnology/.vscode.git
[submodule "codes/python/praeparatio"]
	path = codes/python/praeparatio
	url = git@github.com:edendenis/praeparatio.git
[submodule "codes/python/big_rocket_data"]
	path = codes/python/big_rocket_data
	url = git@github.com:edendenis/big_rocket_data.git
[submodule "codes/python/audithas"]
	path = codes/python/audithas
	url = git@github.com:edendenis/audithas.git
[submodule "codes/python/k_means_thesis"]
	path = codes/python/k_means_thesis
	url = git@github.com:edendenis/k_means_thesis.git
